<div class="container">
  <div class="row">
    <div class="col">
      <h3>Book detail</h3>
        <table>
          <tr>
            <td><%= image_tag @profile_image.get_image %><br><%= @user.name %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <% if @book.user == current_user %>
            <td><%= link_to "edit", edit_book_path %></td>
            <td><%= link_to "destroy", book_path(@book), method: :delete %></td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>