<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/70b32b70bb.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <ul class="navbar-nav">
        <a href="/"><span>Bookers</span></a>
        <% if user_signed_in? %>
        <li>Home</li>
        <li>About</li>
        <li>Sign up</li>
        <li>Log in</li>
        <% else %>
        <li>Home</li>
        <li>Users</li>
        <li>Books</li>
        <li>Log out</li>
        <% end %>
        </ul>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
